/* 
Document   : layout
Created on : 12.01.2008, 11:42:12
Author     : j
Description:
Purpose of the stylesheet follows.
*/

/* Base Style */
a {
    color:#fff;
    font-weight:bold;
    text-decoration:none;
}

a:hover {
    color: #fff;
}

a:visited {
    color: #4B5A7B;
}

* a:visited:hover {
    color: #FFF;
}

blockquote {
    border-left:2px solid #2f2f2f;
    background:#323232;
}

body {
    color:#aaa;
    background-color: black;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

* {
    margin:0;
    padding:0;
}

/* Site local */
#navigation {
    float: left;
    width:772px;
    background-color: #1E2C4F; 
    border-bottom: 1px solid #818181;
}

#container {
    margin: 0 auto;
    width: 995px;
}

#staticInfo {
    display: inline;
    padding-top: 2.5em;
    float: right;
    width: 233px;
    height: 13em;
    background-color: #4B5A7B;
}

#staticInfo p {
    margin-top: 1em;
    margin-left: 2em;
}

#content {
    display: inline;
    float: left;
    margin-top: 1em;
    background-color: black;
    width: 768px;
    line-height: 1.5em;
}

#content h2 {
    color: #FFF;
    background-color: #1E2C4F;
    border: 1px dotted #818181;
    padding-left: .5em;
    padding-top: .15em;
    padding-bottom: .15em;
    margin-bottom: .25em;
}

#content h3 {
    color: #FFF;
    background-color: #4B5A7B;
    border-bottom: 1px dotted #818181;
    padding-left: .5em;
    padding-top: .15em;
    padding-bottom: .15em;
    margin-bottom: .25em;
    margin-left: .5em;
    margin-top: .5em;
}

#content li {
margin-left: 3em;
list-style: square;
}

#content .image {
float: right;
width: 350px;
}

#content .imageP {
    margin-right: 360px;
    margin-top: 1.5em;
}

#content .indent {
    margin-left: 1.5em;
}

#content .indent p {
    margin-left: 1.5em;
}

#content p {
    margin-top: 1em;
}

#header {
    height:195px;
    width: 772px;
    background:url(../images/logo.jpg) right no-repeat;
    float:left;
    border-bottom: 1px solid #818181; 
}

ul#nav {display: inline;}

ul#nav li {
    float:left;
    display: inline;
    background-color: #1E2C4F;
    padding: 4px 3px 3px 3px;
    list-style:none;
}



ul#nav li:hover {
    background-color: #818181;
}





ul#nav .active {
    background-color: #CCC;
}



#sidebar {
    clear: right;
    width:223px;
    height: 617px;
    float:right;
    background:url(../images/sideBar.jpg) no-repeat;
    
}

#footer {
    text-align: right;
    clear: both ;
    width: 995px;
    border-top:1px solid black;
    background-color: #43588D;
}

#footer p {
    padding: 1em;
}

#footer a {
    color:#ccc;
}

